@tailwind base;
@tailwind components;
@tailwind utilities;

/* Small custom utilities */
body { font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; }
